nav {
    margin-bottom: 5%;
}

.row-item {
    margin-bottom: 2%;
}

.row-items {
    margin-bottom: 0;
}

body {
    background-color: #27abe9;
}

span {
    color: yellow;
    font-weight: bold;
    font-family: 'Righteous', cursive;
}

h1,
h3,
h5,
p {
    color: white;
    font-family: 'Righteous', cursive;
}

main {
    margin-bottom: 15%;
    margin-top: 0;
    margin-bottom: 0;
}

.img-button {
    position: absolute;
    right: 5px;
    bottom: 5px;
    padding: 0;
    margin: 0;
    border: 0;
}

.question {
    height: auto;
    width: 50px;
}