nav {
    margin-bottom: 5%;
}

.row-item {
    margin-bottom: 2%;
}

.row-items {
    margin-bottom: 0;
}

body {
    background-color: #27abe9;
}

span {
    color: yellow;
    font-weight: bold;
}

h1,
h3,
h5,
p {
    color: white;
}

main {
    margin-bottom: 15%;
    margin-top: 0;
    margin-bottom: 0;
}